body {
  padding-top: 100px;
  width: 100%;
}

.wrapper {
  margin: 0 auto;
  max-width: 1024px;
}
.title-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 32px;
}

h1 {
  font-family: "Bungee", cursive;
  font-size: 64px;
}

h2,
.h2 {
  font-family: "Bungee", cursive;
  font-size: 24px;
}

.logo {
  font-size: 96px;
}

.rotate-right {
  transform: rotate(-3deg);
}

.rotate-left {
  transform: rotate(5deg);
}

/* questions */

.question {
  display: flex;
  align-items: center;
  column-gap: 8px;
}

.text {
  font-family: "Exo 2", sans-serif;
  font-size: 16px;
  line-height: 24px;
}

input,
select {
  border: 1px solid rgb(171, 171, 171);
  border-radius: 3px;
  font-family: "Bungee", cursive;
  font-size: 16px;
  line-height: 28px;
}

select {
  padding: 4px;
  width: fit-content;
}
option {
  font-family: "Bungee", cursive;
  font-size: 16px;
  line-height: 28px;
}

input::placeholder {
  font-family: "Bungee", cursive;
  font-size: 16px;
  line-height: 24px;
  color: gray;
}

input:hover,
select:hover {
  cursor: pointer;
  border: 1px solid rgb(7, 7, 7);
}

button {
  font-family: "Bungee", cursive;
  font-size: 16px;
  line-height: 24px;
  background-color: red;
  color: white;
  border: none;
  margin: 48px auto 0px auto;
}

button:hover {
  cursor: pointer;
  color: yellow;
}

.modal {
  width: 60%;
}

.fade {
}
